html {
  box-sizing: border-box;
}

body {
  max-width: 360;
  margin: 0;
  padding: 0;
  font-family: "Suisse Int'l", sans-serif;
  background: #f4f7fa;
}

ul,
li,
h1,
h2,
h3,
button {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.content-container {
  max-width: 360px;
  margin: 0 auto;
}

.mobile-head {
  max-width: 360px;
  margin: 0 auto 21px;

  background: #ffffff;
}

.logo {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.header-group {
  display: flex;
  align-items: center;
  padding: 9px 16px;
}

.header-btn {
  min-width: 90px;
  margin-right: 144px;
  padding: 8px 12px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.27;

  color: #0957c3;

  background: rgba(9, 87, 195, 0.07);
  border: 1px solid rgba(9, 87, 195, 0.07);
  border-radius: 20px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover,
.header-btn:focus {
  background: #ffffff;
  border: 1px solid #0957c3;
}

.user {
  width: 17px;
  height: 17px;

  margin-right: 27px;
}

.more-btn {
  content: "";
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/more.svg");
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.menu-container {
  max-width: 336px;
  margin: 0 auto 14px;
  position: relative;

  background: #ffffff;
  border-radius: 8px;
}

.menu-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px 9px;
}

.menu-dropdown::before {
  margin-right: 9px;
  content: "";
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/ico.svg");
}

.menu-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: #333536;
}

.menu-btn {
  margin-left: 190px;
  content: "";
  width: 10px;
  height: 6px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/mark.svg");
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.menu-list {
  min-width: 336px;
  min-height: 304px;
  position: absolute;
  z-index: 10;
  display: none;
  /* opacity: 0;
  pointer-events: none; */
  /* top: -850%; */
  top: 25px;
  left: 0;
  margin: 21px auto 14px;
  padding-top: 18px;
  padding-bottom: 29px;

  background: #ffffff;
  border: 1px solid #e7e8e8;
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;

  transition: opacity, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item {
  display: flex;
  position: relative;
  padding: 3px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: #333536;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-item::before {
  display: block;
  position: absolute;

  content: "";

  background-repeat: no-repeat;
  background-position: center;
}

.menu-item:nth-child(1)::before {
  width: 16px;
  height: 19px;
  left: 25px;
  margin-right: 17px;
  background-image: url("../icons/records.svg");
}

.menu-item:nth-child(2)::before {
  width: 20px;
  height: 20px;
  left: 23px;
  margin-right: 15px;
  background-image: url("../icons/tubes.svg");
}

.menu-item:nth-child(3)::before {
  width: 20px;
  height: 20px;
  left: 23px;
  margin-right: 15px;
  background-image: url("../icons/medicines.svg");
}

.menu-item:nth-child(4)::before {
  width: 24px;
  height: 21px;
  left: 23px;
  margin-right: 11px;
  background-image: url("../icons/family.svg");
}

.menu-item:nth-child(5)::before {
  width: 24px;
  height: 24px;
  left: 23px;
  margin-right: 11px;
  background-image: url("../icons/patient.svg");
}

.menu-item:nth-child(6)::before {
  width: 18px;
  height: 20px;
  left: 26px;
  margin-right: 14px;
  background-image: url("../icons/bullet_list.svg");
}

.menu-item:nth-child(7)::before {
  width: 21px;
  height: 16px;
  left: 26px;
  margin-right: 12px;
  background-image: url("../icons/crown_blue.svg");
}

.menu-item:hover {
  margin-left: 0;
  background: #eef3fb;
  cursor: pointer;
}

.menu-text {
  padding-left: 58px;
}

.menu-list.show {
  display: block;

  /* opacity: 1;
  pointer-events: auto;
  transform: translateY(104%); */
}

.tabs-container {
  max-width: 360px;
  margin: 0 auto 21px;
  overflow: hidden;
}

.tabs {
  display: flex;
  padding-left: 16px;

  background: #f4f7fa;
}

.tabs-btn {
  min-width: 84px;
  height: 35px;
  white-space: nowrap;

  margin-right: 10px;
  padding: 8px 19px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;
  color: #333536;

  background: #ffffff;
  border: 1px solid #eff1f6;
  border-radius: 50px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs-btn:hover,
.tabs-btn:focus {
  border: 1px solid #0957c3;
}

.date {
  display: flex;
  margin-bottom: 16px;
  padding-left: 16px;
}

.date-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date-item:not(:last-child) {
  margin-right: 26px;
}

.date-text {
  margin-right: 8px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;
  text-align: center;

  color: #333336;
}

.date-day::before {
  margin-right: 10px;
  content: "";
  width: 13px;
  height: 13px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/calendar.svg");
}

.date-day {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 3px 9px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;
  text-align: center;

  color: #747578;

  background: #ffffff;
  border: 1px solid rgba(128, 142, 184, 0.07);
  box-sizing: border-box;
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.appointment-container {
  display: flex;
  flex-direction: column;
  max-width: 328px;
  margin: 0 auto 63px;

  padding: 21px 29px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-sizing: border-box;
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.appointment-title {
  text-align: center;
  margin-bottom: 28px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;

  color: #333536;
}

.appointment-pic {
  margin: 0 auto;
  margin-bottom: 45px;
}

.appointment-link {
  margin: 0 auto;
}

.appointment-btn {
  min-width: 176px;
  padding: 12px 14px;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.56;
  text-align: center;

  color: #ffffff;

  background: #0957c3;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.appointment-btn:hover,
.appointment-btn:focus {
  transform: scale(1.03);
}

.premium-btn {
  position: relative;

  min-width: 152px;
  margin-right: 126px;
  padding: 8px 13px 7px 39px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.27;

  color: #0957c3;

  background: rgba(9, 87, 195, 0.07);
  border: 1px solid rgba(9, 87, 195, 0.07);
  border-radius: 20px;
  cursor: pointer;

  transition: background, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.premium-btn::before {
  position: absolute;
  left: 13px;
  top: 3px;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 6px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/crown.svg");
}

.premium-btn:hover,
.premium-btn:focus {
  background: #ffffff;
  border: 1px solid #0957c3;
}

.record-text {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #0957c3;
}

.card-list {
  padding: 0 16px;
}

.card {
  position: relative;
}

.card-top {
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
  padding: 12px 16px 23px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.record {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.record-date {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.82;

  color: #747578;
}

.response {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.82;

  color: #47d7ac;
}

.response::before {
  margin-right: 5px;
  content: "";
  width: 11px;
  height: 13px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/bell.svg");
}

.record-price {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.82;

  color: #333536;
}

.doctor-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 11px;
}

.doctor-picture {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
}

.doctor-group::before {
  display: block;
  content: "";
  width: 1px;
  height: 75px;
  margin-right: 16px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/line.svg");
}

.doctor-group {
  display: flex;
  flex-direction: row;
}
.doctor-personal {
  display: flex;
  flex-direction: column;
}

.doctor-name {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;

  text-decoration-line: underline;
  color: #333336;
}

.doctor-position {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.82;

  color: #747578;
}

.doctor-location {
  position: relative;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #333536;
}

.route {
  position: absolute;
  bottom: 67px;
  right: 14px;
  display: block;
  content: "";
  width: 29px;
  height: 29px;
  fill: #707272;
  cursor: pointer;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.route:hover,
.route:focus {
  fill: #0957c3;
}

.location-title {
  font-weight: 600;
}

.status {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 23px;
}

.status-item:nth-child(1) {
  position: absolute;
  z-index: 3;
  padding: 2px 29px 2px 10px;

  font-weight: 400;
  font-size: 10px;
  line-height: 2;

  color: #747578;

  background: #f0f5fb;
  border-radius: 8px;
}

.status-item:nth-child(2) {
  position: absolute;
  right: 136px;
  z-index: 4;
  padding: 5px 28px 5px 17px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;

  color: #ffffff;

  background: #cae1ff;
  border-radius: 8px;
}
.status-item:nth-child(3) {
  position: absolute;
  right: 52px;
  z-index: 5;
  padding: 2px 28px 2px 8px;

  font-weight: 400;
  font-size: 10px;
  line-height: 2;

  color: #3ebfac;

  background: #cffff5;
  border-radius: 8px;
}
.status-item:nth-child(4) {
  position: absolute;
  right: 0;
  z-index: 6;
  padding: 2px 9px;

  font-weight: 400;
  font-size: 10px;
  line-height: 2;

  color: #0957c3;

  background: #ddeaff;
  border-radius: 8px;
}

.details-btn {
  position: absolute;
  z-index: 3;
  bottom: -13px;
  left: 102px;
  min-width: 123px;

  padding: 2px 23px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.56;

  text-align: center;

  color: #ffffff;
  background: #0957c3;
  border: 1px solid #0957c3;
  border-radius: 20px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.details-btn:hover,
.details-btn:focus {
  transform: scale(1.03);
}

.details-btn.less {
  bottom: 23px;
}
.card-bottom {
  position: relative;
  top: -37px;
  left: 0px;
  z-index: 1;

  display: none;
  max-width: 294px;
  margin: 0 auto;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.card-bottom.open {
  margin-bottom: 20px;
  display: block;
}

.card-bottom-wraper {
  padding: 18px 16px 29px;
}

.card-bottom-title {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;

  color: #333336;
}

.initial-reception {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #333536;
}

.treatment-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #333536;
}

.card-bottom-doctor {
  padding: 3px 17px;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #333536;
  background: #f0f5fb;
  border-radius: 8px;
}

.card-bottom-price {
  display: flex;
  justify-content: space-between;
  padding: 3px 17px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #333536;
  background: #f0f5fb;
  border-radius: 8px;
}

.line {
  width: 261px;
  height: 1px;
  margin-bottom: 11px;

  background: rgba(192, 194, 196, 0.5);
  border-radius: 5px;
}

.rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.star-list {
  display: flex;
}

.star-item:not(:last-child) {
  margin-right: 5px;
}

.rank-date {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;

  color: #747578;
}

.rank-date::before {
  margin-right: 10px;
  content: "";
  width: 13px;
  height: 13px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/calendar.svg");
}

.suggestion {
  margin-bottom: 10px;
}

.suggestion-text {
  display: flex;
  flex-direction: row;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #47d7ac;
}

.suggestion-text::before {
  margin-right: 5px;
  content: "";
  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/like.svg");
}

.feedback {
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #333536;
}

.repeat {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 21px;
}

.repeat-number {
  margin-right: 36px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #747578;
}

.repeat-btn {
  min-width: 169px;
  padding: 14px 23px 13px 22px;

  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  text-align: center;

  color: #ffffff;

  background: #0957c3;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.repeat-btn:hover,
.repeat-btn:focus {
  transform: scale(1.03);
}

.less-btn {
  position: absolute;
  bottom: -13px;
  left: 84px;
  min-width: 123px;

  padding: 2px 25px 2px 27px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.56;

  text-align: center;

  color: #ffffff;
  background: #0957c3;
  border: 1px solid #0957c3;
  border-radius: 20px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.less-btn:hover,
.less-btn:focus {
  transform: scale(1.03);
}

.backdrop {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.show {
  display: block;
}

.modal {
  width: 328px;
  min-height: 237px;

  position: absolute;
  z-index: 14;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #f6fdfb;
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.35);
  border-radius: 8px;
}

.modal-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 13px 16px 14px 15px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.1);
  border-radius: 8px;
}
.modal-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;

  color: #333536;
}

.close-btn {
  content: "";
  width: 11px;
  height: 11px;

  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/cross.svg");
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 57px 13px 58px;
}

.modal-picture {
  margin-bottom: 12px;
  width: 89px;
}

.modal-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;

  text-align: center;

  color: #333536;
}

.modal-time {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;

  text-align: center;

  color: #707272;
}

.container {
  width: 1900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 172px;
  padding-right: 172px;

  background: #f4f7fa;
}

.desktop-head {
  margin-bottom: 14px;
  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.2);
}

.head-wraper {
  display: flex;
  align-items: center;

  padding: 8px 172px;
}

.desktop-logo {
  margin-right: 210px;
}

.nav {
  margin-right: 34px;
}
.nav-list {
  display: flex;
}

.nav-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  text-transform: uppercase;

  color: #333536;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item a:hover,
.nav-item a:focus {
  color: #0957c3;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

.head-btn {
  min-width: 149px;
  padding: 8px;
  margin-right: 6px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;

  color: #0957c3;
  background: rgba(9, 87, 195, 0.07);
  border: 1px solid rgba(9, 87, 195, 0.07);
  border-radius: 20px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-btn:hover,
.head-btn:focus {
  border: 1px solid #0957c3;
}

.switch-language {
  margin-right: 20px;
  padding: 9px 11px 9px;

  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 21px;
}

.language {
  display: flex;
  align-items: center;

  font-weight: normal;
  font-size: 13px;
  line-height: 100%;

  color: #333536;
}

.language::after {
  margin-left: 8px;
  content: "";
  width: 9px;
  height: 6px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/mark.svg");
  cursor: pointer;
}

.shopping-basket {
  width: 18px;
  height: 18px;

  cursor: pointer;
}

.desktop-user {
  /* width: 0px;
  height: 30px; */
}

.mini-menu {
  display: flex;

  margin-bottom: 29px;
}

.mini-mune-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.mini-menu-list {
  display: flex;
  align-items: flex-end;
}

.mini-menu-item {
  display: flex;
  align-items: baseline;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: rgba(51, 53, 54, 0.8);
  cursor: pointer;
}

.mini-menu-item:not(:last-child) {
  margin-right: 8px;
}

.mini-menu-item::before {
  display: block;
  margin-right: 5px;
  content: "";
  width: 4px;
  height: 6px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/arrow.svg");
  cursor: pointer;
}

.main-wraper {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;

  margin-right: 17px;
}

.sidebar-menu {
  margin-bottom: 16px;
  padding-top: 28px;
  padding-bottom: 24px;
  max-width: 276px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.desktop-menu-list {
  margin-bottom: 19px;
}

.desktop-menu-item {
  display: flex;
  padding: 3px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: #333536;

  transition: color, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desktop-menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.desktop-menu-item::before {
  content: "";

  background-repeat: no-repeat;
  background-position: center;
}

.desktop-menu-item:nth-child(1)::before {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url("../icons/ico.svg");
}

.desktop-menu-item:nth-child(2)::before {
  width: 16px;
  height: 19px;
  margin-right: 17px;
  background-image: url("../icons/records.svg");
}

.desktop-menu-item:nth-child(3)::before {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url("../icons/medicines.svg");
}

.desktop-menu-item:nth-child(4)::before {
  width: 24px;
  height: 21px;
  margin-right: 11px;
  background-image: url("../icons/family.svg");
}

.desktop-menu-item:nth-child(5)::before {
  width: 24px;
  height: 24px;
  margin-right: 11px;
  background-image: url("../icons/patient.svg");
}

.desktop-menu-item:nth-child(6)::before {
  width: 18px;
  height: 20px;
  margin-right: 14px;
  background-image: url("../icons/bullet_list.svg");
}

.desktop-menu-item:nth-child(7)::before {
  width: 21px;
  height: 16px;
  margin-right: 12px;
  background-image: url("../icons/crown_blue.svg");
}

.desktop-menu-item:hover {
  margin-left: 0;
  color: #0957c3;
  background: #eef3fb;
  cursor: pointer;
}

.online-btn {
  display: flex;
  margin: 0 45px 29px;
  padding: 6px 28px;
  white-space: nowrap;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;

  background: #feb545;
  border: 1px solid #feb545;
  border-radius: 35px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-btn::before {
  content: "";
  margin-right: 7px;
  width: 17px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/stethoscope.svg");
}

.online-btn:hover,
.online-btn:focus {
  transform: scale(1.03);
}

.sidebar-line {
  margin-bottom: 16px;

  border-bottom: 2px solid rgba(91, 128, 180, 0.2);
}

.logout-btn {
  display: flex;
  margin-left: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: #707272;
  background: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.logout-btn::before {
  content: "";
  margin-right: 13px;
  width: 20px;
  height: 19px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/logout.svg");
}

.office-container {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 19px 22px 38px;
  max-width: 276px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}
.office-title {
  margin-bottom: 18px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;

  text-align: center;

  color: #000000;
}

.office-star-list {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.office-star-item {
  margin-right: 14px;
}

.cross-btn {
  position: absolute;
  top: 13px;
  right: 14px;
  content: "";
  width: 10px;
  height: 10px;

  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/cross.svg");
  cursor: pointer;
}

.form-label {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.82;

  color: rgba(51, 53, 54, 0.7);
}

textarea {
  min-width: 232px;
  height: 90px;
  padding: 6px 10px;
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.36;

  color: rgba(51, 53, 54, 0.7);

  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
  resize: none;
}

textarea::placeholder {
  font-family: "Suisse Int'l", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.36;

  color: rgba(51, 53, 54, 0.7);
}

.form-btn {
  padding: 13px 25px 14px 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;

  text-align: center;

  color: #ffffff;

  background: #0957c3;
  border-radius: 8px;
  border: 1px solid #0957c3;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  transform: scale(1.03);
}

.middle-wraper {
  display: flex;
  flex-direction: column;
  max-width: 862px;
}

.desktop-title {
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;

  color: #333536;
}

.links-list {
  display: flex;
  margin-bottom: 25px;
}

.links-item a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: #707272;
}

.links-item a:hover,
.links-item a:focus {
  font-weight: 700;

  color: #0957c3;
  border-radius: 2px;
  border-bottom: 2px solid #0957c3;
}

.links-item:not(:last-child) {
  margin-right: 44px;
}

.desctop-tabs-container {
  max-width: 862px;
  margin: 0 auto;
  overflow: hidden;
}

.desktop-tabs {
  display: flex;
  padding-left: 16px;
  margin-bottom: 17px;

  background: #f4f7fa;
}

.desktop-tabs-item {
}

.desktop-tabs-btn {
  min-width: 112px;
  height: 36px;
  white-space: nowrap;

  margin-right: 20px;
  padding: 8px 28px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;

  color: #333536;

  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desktop-tabs-btn:hover,
.desktop-tabs-btn:focus {
  color: #0957c3;

  border: 1px solid #0957c3;
}

.desktop-tabs-item:nth-child(1) {
  display: flex;
  align-items: center;
}

.desktop-tabs-item:nth-child(1)::before {
  display: block;
  margin-right: 9px;
  content: "";

  width: 8px;
  height: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/big_arrowl.svg");
}

.desktop-tabs-item:nth-child(6) {
  position: relative;
}

.desktop-tabs-item:nth-child(6)::before {
  display: block;
  position: absolute;
  top: 11px;
  left: 13px;
  content: "";

  width: 8px;
  height: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/big_arrowr.svg");
}

.destop-cards {
  margin-bottom: 76px;
}

.desktop-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.card-item {
  position: relative;
  overflow: hidden;
  max-width: 280px;

  flex-basis: calc((100% - 6 * 4px) / 3);
  margin: 4px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.online {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px 21px 1px 13px;

  font-weight: normal;
  font-size: 11px;
  line-height: 1.45;

  color: #47d7ac;
  background: rgba(71, 215, 172, 0.05);
  border-radius: 50px;
}

.card-wraper {
  padding: 18px 16px;
}

.desktop-doctor-info {
  position: relative;
  display: flex;
  margin-bottom: 12px;
}

.picture-label {
  position: absolute;
  z-index: 1;
  top: 107px;
  left: 0;
  padding: 4px 3px;

  background: #ffffff;
  box-shadow: 2px 2px 6px rgba(25, 27, 52, 0.15);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.desktop-doctor-picture {
  margin-right: 11px;
}

.desktop-doctor-name {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.06;

  color: #333536;
}

.desktop-doctor-position {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #333536;
}

.doctor-category {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #747578;
}

.rating {
  display: flex;
  margin-bottom: 13px;
}

.rating-number {
  display: flex;
  align-items: baseline;
  margin-right: 69px;

  font-weight: 700;
  font-size: 11px;
  line-height: 1.27;

  color: #333536;
}

.rating-number::before {
  margin-right: 3px;
  content: "";

  width: 11px;
  height: 11px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/star_desktop.svg");
}

.respond {
  margin-right: 18px;
  white-space: nowrap;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #333536;
}

.respond-number {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.27;

  color: #0957c3;
}

.experience {
  white-space: nowrap;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;

  color: #333536;
}

.experience-number {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.27;

  color: #000000;
}

.divider {
  height: 1px;
  margin-bottom: 13px;
  background: #e5e9ed;
}

.value-wraper {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}
.value {
  display: flex;
  margin-right: 53px;
}

.video {
  margin-right: 9px;
  width: 24px;
  height: 24px;
}

.audio {
  margin-right: 9px;
  width: 24px;
  height: 24px;
}

.chat {
  margin-right: 9px;
  width: 24px;
  height: 24px;
}

.cost {
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;

  color: #000000;
}

.cost-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;

  color: #747578;
}

.order-btn {
  padding: 12px 20px;
  min-width: 250px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.56;

  color: #ffffff;
  background: #0957c3;
  border: 1px solid #0957c3;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  transform: scale(1.03);
}

.order-list {
  display: flex;
  margin-bottom: 101px;
}

.order-item {
  position: relative;
  margin-right: 13px;
  padding: 23px 24px 87px;

  width: 410px;

  background: #ffffff;
  border: 1px solid rgba(33, 58, 133, 0.07);
  box-shadow: 2px 2px 15px rgba(82, 128, 190, 0.1);
  border-radius: 8px;
}

.order-title {
  margin-bottom: 16px;
  white-space: nowrap;

  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;

  color: #333536;
}

.order-text {
  white-space: nowrap;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;

  color: #747578;
}

.order-time {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;

  color: #47d7ac;
}

.order-group {
  display: flex;
  align-items: center;

  position: absolute;
  left: 24px;
  bottom: 23px;
}

.icon-order {
  margin-right: 26px;
}

.order-step {
  position: absolute;
  right: 22px;
  bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.06;

  color: #e8e8e8;
}
.desktop-menu-item::before {
  content: "";

  background-repeat: no-repeat;
  background-position: center;
}

.desktop-menu-item:nth-child(1)::before {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url("../icons/ico.svg");
}

footer {
  height: 86px;

  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.1);
  border-radius: 20px 20px 0px 0px;
}

.footer-wraper {
  display: flex;
  align-items: center;
  padding: 25px 172px;
}

.footer-logo {
  margin-right: 20px;
  width: 156px;
  height: 24px;
}

.flag-list {
  display: flex;
  align-items: center;
  margin-right: 427px;
}

.flag-item {
  margin-right: 10px;
  /* width: 22px; */
  /* height: 22px; */

  /* border-radius: 50%; */
  /* background: #fefefe; */
  /* box-shadow: 0px 4px 20px rgba(82, 128, 190, 0.21); */
}

.flag-picture {
  /* margin-right: 10px; */
  width: 22px;
  height: 22px;

  border-radius: 50%;
  box-shadow: 0px 4px 20px rgba(82, 128, 190, 0.21);
}

.app-store {
  display: flex;
  align-items: center;
  margin-right: 37px;
  padding: 9px 30px 12px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #ffffff;
  background: #0856c2;
  border: 1px solid #0856c2;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-store::before {
  content: "";
  margin-right: 15px;
  width: 14px;
  height: 14px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/app_store.svg");
}

.app-store:hover,
.app-store:focus {
  transform: scale(1.03);
}

.google {
  display: flex;
  align-items: center;
  padding: 9px 24px 12px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  color: #ffffff;
  background: #fe5000;
  border: 1px solid #fe5000;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.google::before {
  content: "";
  margin-right: 15px;
  width: 14px;
  height: 14px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../icons/google.svg");
}

.google:hover,
.google:focus {
  transform: scale(1.03);
}
